<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <title>Taco Grabber{% block title %} {% endblock%}</title>


    </head>

    <body>

    <div>
        <h1>Taco Grabber</h1>
        {% block header %}

        <div class="btn-group">

          <a href="/grabber/"> <button type="button" class="btn btn-info">Home </button></a>
           </div>
        <div class="btn-group">
          <a href="/grabber/about/">  <button type="button" class="btn btn-info"> About </button> </a>
        </div>

          <div class="btn-group">
              <button type="button" class="btn btn-info"> Manage the Community </button>
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
                  <span class="sr-only"> </span>
              </button>
              <ul class="dropdown-menu" role="menu">
              <li> <a href="/grabber/generate/">  Generate OAUTH Tokens</a>  </li>
              <li> <a href="/grabber/editlikes/"> Edit General Likes </a>    </li>
              <li> <a href="/grabber/editmusic/"> Edit Music Likes </a>      </li>
              <li> <a href="/grabber/editmovie/"> Edit Movie Likes </a>      </li>
            </ul>

          </div>






        {% endblock %}
    </div>

    <div class="well well-lg">

        {% block body_block %} {% endblock %}

    </div>

    </body>

</html>