<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

        <title>Taco Grabber{% block title %} {% endblock%}</title>


    </head>

    <body>

    <div>
        <h1>Taco Grabber</h1>
        {% block header %}

        <div class="btn-group">

          <a href="/grabber/"> <button type="button" class="btn btn-default">Home </button></a>
          <a href="/grabber/about/">  <button type="button" class="btn btn-default"> About </button> </a>
          <a href="/admin/">  <button type="button" class="btn btn-default"> Manage The Community  </button></a>
          <a href="/grabber/generate/">   <button type="button" class="btn btn-default"> Generate OAUTH Tokens </button></a>
          <a href="/grabber/editlikes/">   <button type="button" class="btn btn-default"> Edit Likes </button></a>

        </div>



        {% endblock %}
    </div>

    <div class="well well-lg">

        {% block body_block %} {% endblock %}

    </div>
        <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>

</html>