{% extends 'grabber/base.html' %}

{% block title %}{% endblock %}


{% block body_block %}

                <h2>Edit Bot Likes</h2>
                <div>
                {% if like %}
                        <ul>
                            {% for item in like %}
                            <div class="btn-group">
                            <button type="button" class="btn btn-default">{{ item.name }} </button> </div>
                                <div><button type="button" class="btn btn-default">{{ item.see_music }}
                                    <span class="caret"> </span> </button></div>

                            {% endfor %}
                        </ul>
                {% else %}
                            Turns out nobody likes anything... le sad
                    {% endif %}
                    </div>
{% endblock %}