{% extends 'grabber/base.html' %}

{% block title %}{% endblock %}


{% block body_block %}


                <h2>Search Results</h2>
                <div>
                {% if results %}
                        <ul>
                            {% for tweet in results %}
                               <li class="list-group-item"> {{ tweet }} </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                            Your search produced no results, le sad.
                    {% endif %}
                    </div>
{% endblock %}